// Reversed input variant
.switch-reversed {
  .v-input__control {
    .v-selection-control {
      display: flex;
      flex-direction: row-reverse !important;
      label {
        padding-left: 0px !important;
        padding-right: 8px !important;
      }
    }
  }
}
.v-switch {
  .v-input__control {
    .v-selection-control {
      label {
        padding-left: 8px !important;
      }
    }
  }
}
.v-checkbox .v-selection-control {
  min-height: 25px !important;
  height: 25px !important;
}
.v-selection-control .v-label {
  font-size: 14px !important;
}

.v-autocomplete .v-field .v-field__append-inner > .v-icon, .v-field__clearable > .v-icon {
  color: var(--color-semantic-icon-on-surface-variant) !important;
}
