
:root {
    --measure-dimension-corners-radius-0: 0px;     
    --measure-dimension-corners-radius-050: 2px;     
    --measure-dimension-corners-radius-100: 4px;     
    --measure-dimension-corners-radius-150: 6px;     
    --measure-dimension-corners-radius-200: 8px;     
    --measure-dimension-corners-radius-300: 12px;     
    --measure-dimension-corners-radius-400: 16px;     
    --measure-dimension-corners-radius-500: 20px;     
    --measure-dimension-corners-radius-600: 24px;     
    --measure-dimension-corners-radius-750: 30px;     
    --measure-dimension-corners-radius-full: 9999px;     
    --measure-dimension-spacing-space-0: 0px;     
    --measure-dimension-spacing-space-025: 1px;     
    --measure-dimension-spacing-space-050: 2px;     
    --measure-dimension-spacing-space-100: 4px;     
    --measure-dimension-spacing-space-150: 6px;     
    --measure-dimension-spacing-space-200: 8px;     
    --measure-dimension-spacing-space-300: 12px;     
    --measure-dimension-spacing-space-400: 16px;     
    --measure-dimension-spacing-space-500: 20px;     
    --measure-dimension-spacing-space-600: 24px;     
    --measure-dimension-spacing-space-800: 32px;     
    --measure-dimension-spacing-space-900: 36px;     
    --measure-dimension-spacing-space-1000: 40px;     
    --measure-dimension-spacing-space-1200: 48px;     
    --measure-dimension-spacing-space-1600: 64px;     
    --measure-dimension-spacing-space-2000: 80px;     
    --measure-dimension-spacing-space-2400: 96px;     
    --measure-dimension-spacing-space-2800: 112px;     
    --measure-dimension-spacing-space-3000: 120px;     
    --measure-dimension-spacing-space-3200: 128px;     
    --measure-dimension-card-card: 358px;     
    --measure-dimension-semantic-corners-radius-0: 0px;     
    --measure-dimension-semantic-corners-radius-050: 2px;     
    --measure-dimension-semantic-corners-radius-100: 4px;     
    --measure-dimension-semantic-corners-radius-150: 6px;     
    --measure-dimension-semantic-corners-radius-200: 8px;     
    --measure-dimension-semantic-corners-radius-300: 12px;     
    --measure-dimension-semantic-corners-radius-400: 16px;     
    --measure-dimension-semantic-corners-radius-500: 20px;     
    --measure-dimension-semantic-corners-radius-600: 24px;     
    --measure-dimension-semantic-corners-radius-750: 30px;     
    --measure-dimension-corners-radius-full: 9999px;     
    --measure-dimension-semantic-spacing-space-0: 0px;     
    --measure-dimension-spacing-space-1: 1px;     
    --measure-dimension-spacing-space-2: 2px;     
    --measure-dimension-spacing-space-4: 4px;     
    --measure-dimension-spacing-space-6: 6px;     
    --measure-dimension-spacing-space-8: 8px;     
    --measure-dimension-spacing-space-12: 12px;     
    --measure-dimension-spacing-space-14: 16px;     
    --measure-dimension-spacing-space-16: 20px;     
    --measure-dimension-spacing-space-24: 24px;     
    --measure-dimension-spacing-space-32: 32px;     
    --measure-dimension-semantic-card-card: 358px;     
    --measure-dimension-spacing-space-36: 36px;     
    --measure-dimension-spacing-space-40: 40px;     
    --measure-dimension-spacing-space-48: 48px;     
    --measure-dimension-spacing-space-64: 64px;     
    --measure-dimension-spacing-space-80: 80px;     
    --measure-dimension-spacing-space-96: 96px;     
    --measure-dimension-spacing-space-112: 112px;     
    --measure-dimension-spacing-space-120: 120px;     
    --measure-dimension-spacing-space-128: 128px;     
}