@tailwind utilities;

@layer utilities {
   
  .typography-m3-display-large {
    font-family: "Noto Sans Thai";
    font-style: normal;
    font-weight: 400;
    font-size: 46px;
    line-height: 52px;
    letter-spacing: 0em;
    text-indent: 0px;
  } 

   
  .typography-m3-display-medium {
    font-family: "Noto Sans Thai";
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0em;
    text-indent: 0px;
  } 

   
  .typography-m3-display-small-prominent {
    font-family: "Noto Sans Thai";
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0em;
    text-indent: 0px;
  } 

   
  .typography-m3-display-small {
    font-family: "Noto Sans Thai";
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0em;
    text-indent: 0px;
  } 

   
  .typography-m3-headline-large {
    font-family: "Noto Sans Thai";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0em;
    text-indent: 0px;
  } 

   
  .typography-m3-headline-medium-prominent {
    font-family: "Noto Sans Thai";
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: 0em;
    text-indent: 0px;
  } 

   
  .typography-m3-headline-medium {
    font-family: "Noto Sans Thai";
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: 0em;
    text-indent: 0px;
  } 

   
  .typography-m3-headline-small {
    font-family: "Noto Sans Thai";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0em;
    text-indent: 0px;
  } 

   
  .typography-m3-title-large-promient {
    font-family: "Noto Sans Thai";
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0em;
    text-indent: 0px;
  } 

   
  .typography-m3-title-large {
    font-family: "Noto Sans Thai";
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0em;
    text-indent: 0px;
  } 

   
  .typography-m3-title-medium-promient {
    font-family: "Noto Sans Thai";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0em;
    text-indent: 0px;
  } 

   
  .typography-m3-title-medium {
    font-family: "Noto Sans Thai";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0em;
    text-indent: 0px;
  } 

   
  .typography-m3-title-small-promient {
    font-family: "Noto Sans Thai";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0em;
    text-indent: 0px;
  } 

   
  .typography-m3-title-small {
    font-family: "Noto Sans Thai";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0em;
    text-indent: 0px;
  } 

   
  .typography-m3-body-large-promient {
    font-family: "Noto Sans Thai";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0em;
    text-indent: 0px;
  } 

   
  .typography-m3-body-large {
    font-family: "Noto Sans Thai";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0em;
    text-indent: 0px;
  } 

   
  .typography-m3-label-large {
    font-family: "Noto Sans Thai";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0em;
    text-indent: 0px;
  } 

   
  .typography-m3-label-medium {
    font-family: "Noto Sans Thai";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0em;
    text-indent: 0px;
  } 

   
  .typography-m3-label-small {
    font-family: "Noto Sans Thai";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0em;
    text-indent: 0px;
  } 

   
  .typography-m3-label-small-promient {
    font-family: "Noto Sans Thai";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0em;
    text-indent: 0px;
  } 

   
  .typography-m3-body-medium-promient {
    font-family: "Noto Sans Thai";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0em;
    text-indent: 0px;
  } 

   
  .typography-m3-body-medium {
    font-family: "Noto Sans Thai";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0em;
    text-indent: 0px;
  } 

   
  .typography-m3-body-small-promient {
    font-family: "Noto Sans Thai";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0em;
    text-indent: 0px;
  } 

   
  .typography-m3-body-small {
    font-family: "Noto Sans Thai";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0em;
    text-indent: 0px;
  } 


}